# SQL-Class-Practice-with-TM-Mildred

In [28]:
import pandas as pd
import sqlite3

In [29]:
! ls

SQL-Class-Practice-with-TM-Mildred.ipynb
test.db

In [30]:
! dir

 Volume in drive C has no label.
 Volume Serial Number is 903F-26C4

 Directory of c:\Users\win10\OneDrive\GitFiles\Phase-2-Two\getting-started-with-sql-18-02-2025-with-dsfpt10-class

02/18/2025  08:43 PM    <DIR>          .
02/18/2025  07:19 PM    <DIR>          ..
02/18/2025  08:54 PM             4,165 SQL-Class-Practice-with-TM-Mildred.ipynb
02/18/2025  08:43 PM            12,288 test.db
               2 File(s)         16,453 bytes
               2 Dir(s)  237,339,369,472 bytes free

In [31]:
# create a database; # connecting to a db
conn = sqlite3.connect("test.db")

In [32]:
# a-dot-cursor-to-execute-commands
cur = conn.cursor() # a.cursor a fnx that will exe our sql commands

## Creating a Table

In [33]:
# create a table;
cur.execute('''
CREATE TABLE IF NOT EXISTS employees(
            id INT PRIMARY KEY,
            name TEXT,
            age INT,
            dept varchar,
            salary INT)
'''
)

## INSERT Data in the Table

In [ ]:
# insert data in `employees` table
cur.execute('''
INSERT INTO employees(id, name, age, dept, salary) VALUES
            (1, 'PAMELA', 34, 'HR', 400000),
            (2, 'SAM', 50, 'Sales', 540000),
            (3, 'Brian', 31, 'Acquisition', 1760340)
''')

conn.commit()

IntegrityError: UNIQUE constraint failed: employees.id

## Fetching Data

In [ ]:
# fetch the data
cur.execute('''
            SELECT * FROM employees;
            '''
            )
            
rows = cur.fetchall()

In [39]:
# print all rows
rows
# print(rows)

[(1, 'PAMELA', 34, 'HR', 400000),
 (2, 'SAM', 50, 'Sales', 540000),
 (3, 'Brian', 31, 'Acquisition', 1760340)]

In [36]:
# printing
for row in rows:
    print(row)

(1, 'PAMELA', 34, 'HR', 400000)
(2, 'SAM', 50, 'Sales', 540000)
(3, 'Brian', 31, 'Acquisition', 1760340)

## Where Clause

In [43]:
cur.execute('''
            SELECT * FROM employees
            WHERE age < 40;
            ''')
conn.commit()

In [55]:
where = cur.fetchall()
where

[]

In [56]:
where

[]

# Order BY & ASC and DESC

In [51]:
cur.execute('''
            SELECT * FROM employees
            WHERE age < 40 
            ORDER BY name ASC;
            ''')
conn.commit()

In [57]:
# fetch all records
orderby = cur.fetchall()
# print the result
orderby

[]